:local .counter {
  .count > * {
    margin-right: 1%;
  }

  .networkd3 {
    div {
      text-align: center;
      width: 60%;
      border: 1px solid black;
      margin: auto;

      svg {
        margin: auto;
      }
    }
  }
} 