.nlp-api {
  display: flex;
  flex-wrap: wrap;

  h2 {
    width: 100%;
  }
  .input-field, .result {
    display: flex;
    flex-direction: column;

    .post-buttons {
      display: flex;
      justify-content: flex-end;
      margin-bottom: 1%;

      .button {
        width: 25%;
        margin-left: 1%;
      }
    }

    .inputs {
      .button {
      }

      .ngram {
        width: 15%;
        margin-left: 1%;
      }

      .text {
        width: 100%;
      }
    }

  }


  .input-field .text > div , .result .output-text > div {
    box-sizing: border-box;
    border: solid 1px #ff0000;
  }

  .input-field .text > div::before , .result .output-text > div::before {
    border-bottom: none;
  }

  .input-field, .result {
    margin-left: 2%;
    width: 46%;
  }

  .lda-tables {
    .lda-table {
      width: 31%;
      display: inline-block;
      margin: 0 1%;
    }
  }

}