.nlp-api {
  display: flex;
  flex-wrap: wrap;

  h2 {
    width: 100%;
  }
  .input-field, .result {
    display: flex;
    flex-direction: column;

    .post-buttons {
      display: flex;
      justify-content: flex-end;
      margin-bottom: 1%;

      .button {
        width: 25%;
        margin-left: 1%;
      }
    }

    > .button {
      margin-right: auto;

      .icon {
      }
    }
  }


  .input-field .input-text > div , .result .output-text > div {
    box-sizing: border-box;
    border: solid 1px #ff0000;
  }

  .input-field .input-text > div::before , .result .output-text > div::before {
    border-bottom: none;
  }

  .input-field, .result {
    margin-left: 2%;
    width: 46%;
  }

}