.wikiart {
  //background-color: black;
  .artimg {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    border-width: 1px;
    border-color: rgb(102, 102, 102);
    vertical-align: top;
    margin-right: 2%;
  }
}