
.App-logo {
  //animation: App-logo-spin infinite 20s linear;
  height: 40px;
}

.App-header {
  background-color:	#5fa769;
  /*
  color: white;
  height: 100px;
  padding: 1em;
  */

  div {
    text-align: right;
  }
}