

.App-header {
  background-color: #CBFFD3;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /*
  color: white;
  */
  .App-logo {
    height: auto;
    width: 12%;
  }

  .content {
    position: relative;
    width: 88%;

    .logout {
      text-align: right;
    }

    .tabs {
      position: absolute;
      bottom: 0;
    }
  }
}