

.App-header {
  background-color: #CBFFD3;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
  /*
  color: white;
  */
  .logo-link {
    width: 12%;
    .App-logo {
      width: 100%;
      height: 100%;
    }
  }

  .content {
    position: relative;
    width: 88%;

    .logout {
      text-align: right;
    }

    .tabs {
      position: absolute;
      bottom: 0;
      width: 100%;
    }
  }
}